body{
    background-color: rgb(154, 207, 207);
}
.container{
    position: relative;
    display: inline-block;

}
#photo{
    margin-top: 200px;
    margin-left: 350px;
    cursor: pointer;
    
}

#heart{
    position: absolute;
    top: 68%;
    left: 75%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: rgb(236, 72, 72);
    display: none;
    animation : fadeOut 2s forwards;

}